<div class="container">
  <div class="row m-0 p-0">
    <% if current_user == @listing.user %>
      <div class="col">
        <%= link_to "Delete", listing_path(@listing), method: :delete  %>
      </div>
      <div class="col text-right">
        <%= link_to "Edit", edit_listing_path(@listing), class: "btn btn-primary" %>
      </div>
    <% end  %>
  </div>
</div>

  <div class="p-3">
    <%= render 'shared/card', listing: @listing %>
  </div>

<p style="margin-left: 16px">
  Quantity Available: <%= @listing.quantity_available %><br>
</p>

<div class="container">
  <div class="row justify-content-between">
    <div class="col">
      Sold by: <%= @listing.user.email %>
    </div>
    <div class="col">
      <p style="text-align:right;">
      <% if current_user != @listing.user %>
        <% if @in_cart %>
          <%= link_to "Edit in Cart", orders_path, class: "btn btn-primary" %>
        <% else %>
          <%= link_to "Add to Cart", listing_orders_path(@listing), method: :post, class: "btn btn-primary" %><br>
        <% end %>
      <% end %>
      </p>
    </div>
  </div>
</div>

<%= form_for ([@listing, @order]) do |f| %>
  <%= f.number_field :quantity_ordered, {min: 0, max: @listing.quantity_available}%>
  <%= f.submit "Add to cart" %>
<% end %>
