<div class="container">
  <div class="row m-0 p-0">
    <% if current_user == @listing.user %>
      <div class="col">
        <%= link_to "Delete", listing_path(@listing), method: :delete  %>
      </div>
      <div class="col text-right">
        <%= link_to "Edit", edit_listing_path(@listing), class: "btn btn-primary" %>
      </div>
    <% end  %>
  </div>
</div>

  <div class="p-3">
    <%= render 'shared/card', listing: @listing %>
  </div>

<!-- Listing: <%= @listing.name %><br> -->
<p style="margin-left: 16px">
  Description: <%= @listing.description %><br>
  Quantity Available: <%= @listing.quantity_available %><br>
  Price per Quantity: $<%= @listing.listing_price_pq %><br>
</p>

<div class="container">
  <div class="row">
    <div class="col">
      Sold by: <%= @listing.user.email %>
    </div>
    <div class="col">
      <% if current_user != @listing.user %>
        <p style="text-align:right;">
        <%= link_to "Add to cart", listing_orders_path(@listing), method: :post, class: "btn btn-primary" %><br>
        </p>
      <% end %>
    </div>
  </div>
</div>
