
<% if current_user == @listing.user %>
  <%= link_to "Edit", edit_listing_path(@listing)%>
  <%= link_to "Delete", listing_path(@listing), method: :delete  %>
<% end  %>
<br>

  <div class="p-3">
    <%= render 'shared/card', listing: @listing %>
  </div>

<!-- Listing: <%= @listing.name %><br> -->
Description: <%= @listing.description %><br>
Quantity Available: <%= @listing.quantity_available %><br>
Price per Quantity: $<%= @listing.listing_price_pq %><br>
<br>
Sold by: <%= @listing.user.email %>
<br>

<% if current_user != @listing.user %>
  <p style="text-align:right;">
  <%= link_to "Add to cart", listing_orders_path(@listing), method: :post, class: "btn btn-primary" %><br>
  </p>
<% end %>
