<div class="container">
  <div class="row m-0 p-0">
    <% if current_user == @listing.user %>
      <div class="col">
        <%= link_to "Delete", listing_path(@listing), method: :delete  %>
      </div>
      <div class="col text-right">
        <%= link_to "Edit", edit_listing_path(@listing), class: "btn btn-primary" %>
      </div>
    <% end  %>
  </div>
</div>

<div class="p-3">
  <% if @listing.photo.attached? %>
    <%= cl_image_tag(listing.photo.key, height: 200, crop: :fill) %>
  <% else %>
    <%= image_tag "https://source.unsplash.com/featured/?#{@listing.name}", height: 200, alt: "alttext" %>
  <% end %>
</div>

<p style="margin-left: 16px">
  <strong>Item:</strong> <%= @listing.name.capitalize %><br>
  <strong>Description:</strong> <%= @listing.description %><br>
  <strong>Quantity Available:</strong> <%= @listing.quantity_available %><br>
  <strong>Price per quantity:</strong> $<%= number_to_currency(@listing.listing_price_pq) %><br>
</p>

<p style="margin-left: 16px">
  <% if current_user != @listing.user %>
    <% if @in_cart %>
      <%= link_to "Edit in Cart", orders_path, class: "btn btn-primary" %>
    <% else %>
      <%= form_for ([@listing, @order]) do |f| %>
        Quantity I would like to reserve: <%= f.number_field :quantity_ordered, {min: 1, max: @listing.quantity_available}%>
        <%= f.submit "Add to cart", class: "btn btn-primary", style: "text-align-right" %>
      <% end %>
    <% end %>
  <% end %>
</p>

<% if current_user == @listing.user %>
  <%= link_to "Back", listings_path  %>
<% else %>
  <%= link_to "Back", root_path %>
<% end %>

