<div class="p-2 col-12 col-md-6 col-lg-4 col-xl-3">
  <%= link_to listing_path(listing), style: "text-decoration: none; color: inherit;" do %>
    <div class="card shadow h-100 hover">
      <% if listing.photo.attached? %>
        <%= cl_image_tag listing.photo.key, crop: :fill, class: 'card-img-top card-img-crop' %>
      <% else %>
        <%= image_tag "https://source.unsplash.com/featured/?#{listing.name}", alt: "alttext", class: 'card-img-top card-img-crop' %>
      <% end %>

      <div class="card-body mb-4">
          <h3 class="card-title"><%= listing.name.capitalize %></h3>
        <p class="card-text"><%= number_to_currency(listing.listing_price_pq) %></p>
        <!-- TODO: set maximum words to be displayed -->
        <p class="card-text"><%= listing.description.capitalize %></p>
        <!-- TODO: show listed xx ago -->
      </div>
    </div>
  <% end %>
</div>
