<!-- TODO: make navbar responsive with scrolling -->
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon sticky-top ">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "https://www.pinclipart.com/picdir/big/84-847632_wheat-vector-black-and-white-wheat-stalk-clipart.png" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- TODO: link search box to search function -->
 <!--  <form class="form-inline my-2 my-lg-0 flex-grow-1 mx-5">
    <input class="form-control mr-sm-2 flex-grow-1 " type="search" placeholder="Search for ingredients" aria-label="Search">
    <button class="btn btn btn-light my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
  </form> -->

  <div class="input-group mb-3">
    <!-- <div class="input-group-prepend">
      <span class="input-group-text my-2 my-sm-0" id="basic-addon1"><i class="fas fa-search"></i></span>
    </div> -->
    <%= form_tag root_path, method: :get, class: "form-inline my-2 my-lg-0 flex-grow-1 mx-1" do %>
      <%= text_field_tag :query,
      # params[:query],
      nil,
      class: "form-control" "mr-sm-2 flex-grow-1",
      placeholder: "Search for ingredients"
    %>
    <% end %>
  </div>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item p-1">
          <%= link_to root_path, class: "nav-link" do %>
            <i class="fas fa-home"></i>
          <% end %>
        </li>
        <li class="nav-item p-1">
          <%= link_to orders_path, class: "nav-link" do %>
            <i class="fas fa-shopping-cart"></i>
          <% end %>
        </li>
        <li class="nav-item dropdown p-1">
          <%= image_tag "http://cdn.onlinewebfonts.com/svg/img_411076.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "My Listings", listings_path, class: "dropdown-item" %>
            <%= link_to "My Reservations", payments_path, class: "dropdown-item" %>
            <%= link_to "My Account", edit_user_registration_path, class: "dropdown-item"  %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item" style="width: 6rem;">
          <%= link_to "Sign up", new_user_registration_path, class: "nav-link " %>
        </li>
        <li class="nav-item" >
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
