<div class="container">
  <div class="row">
    <div class="col">
      <%= "#{order.listing.name} (#{order.listing.description})"%>
    </div>
    <div class="col">
      <%= form_for(order) do |f| %>
          <%= f.number_field :quantity_ordered %>
          <%= f.submit "Update cart" %>
      <% end %>
    </div>
    <div class="col">
      <%= link_to "Delete", order_path(order), method: :delete, data: {confirm: "Are you sure?"} %>
     </div>
    <br>
  </div>
</div>
