<h1>My Cart</h1>

<div>
  <%= render @orders  %>
</div>

<div class="inner-container">
  <div class="d-flex justify-content-between">
    <div class="col">
      <h3><strong>Total Price: <%= number_to_currency(@total_price) %></strong></h3>
    </div>
    <% if @orders.empty? %>
      <p></p>
    <% else %>
      <div class="col text-right">
        <%= simple_form_for(@payment) do |f| %>
          <%= f.input :total_price, :as => :hidden, :input_html => { :value => @total_price } %>
          <%= f.input :status, :as => :hidden, :input_html => { :value => "incomplete" } %>
          <%= f.submit 'Checkout and Reserve', class: "btn btn-primary" %>
        <% end %>
      </div>
    <% end %>
  </div>

<div class="py-3">
  <% if @removed.any? %>
    <p class="m-0">Removed orders due to short of quantity:<p>
    <% @removed.each do |failed_order| %>
      <%= link_to failed_order.listing.name, listings_path(failed_order.listing) %>
      <%= link_to "Delete", order_path(failed_order), method: :delete, data: {confirm: "Are you sure?"} %>
    <% end %>
  <% end %>
</div>
