<h1>My Basket</h1>
<h2> My orders </h2>
  <%= render @orders  %>

<h2>
  <%= simple_form_for(@payment) do |f| %>
    <ul>
<!--       <%= f.input_field :total_price %>
 -->      <% @orders.each do |order| %>
        <li>
          <%= order %>
        </li>
      <% end %>
    </ul>

    <%= f.submit 'Checkout and pay' %>
  <% end %>
</h2>
<!--
<form action="">
  <label for="order_1">Celeries (2)</label>
  <input type="hidden" name="orders[:order_id]" id="order_1">

  <label for="order_1">Celeries (2)</label>
  <input type="hidden" name="orders[:order_id]" id="order_1">

  <label for="order_1">Celeries (2)</label>
  <input type="hidden" name="orders[:order_id]" id="order_1">
</form>
 -->
