
<strong>Payment ID: <%= @payment.id %></strong><br>
Payment Total: $<%= @payment.total_price %><br>
Payment Status: <%= @payment.status %><br>
<br>

Items Ordered:<br>
<ul>
<% @orders.each do |order| %>
  <li>
    <%= order.listing.name.capitalize %>
    (Qty: <%= order.quantity_ordered %>)
  </li>
<% end %>
</ul>

<%= link_to "Back", payments_path  %>

