<h3><strong>Reservation ID: #<%= @payment.id %></strong></h3><br>
Reservation Total: $<%= @payment.total_price %><br>
Reservation Status: <%= @payment.status %><br>
<br>

<strong>Items Reserved:</strong><br>
<ul>
<% @orders.each do |order| %>
  <li>
    <%= order.listing.name.capitalize %>
    (Quantity: <%= order.quantity_ordered %>):
    $<%= order.quantity_ordered * order.order_price_pq  %> |
    From: <%= order.listing.user.email %>
  </li>
<% end %>
</ul>

<%= link_to "Back", payments_path  %>
